<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink><span class="badge badge-primary">h</span> {{ 'a_home' | translate }}</button>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-2">
          <a target="_blank" href="assets/i/p.jpg"><img src="assets/i/p.jpg" style="width: 98%;padding: 6px;" /></a>
        </div>
        <div class="col-md-6">
          <h3>{{ 'text_coding' | translate }}</h3>
          <ul class="list-unstyled">
            <li>
              <div style="padding-top: 6px;">
                <img class="imgsocial" alt="cv-icon" src="assets/i/cv.png" />
                <span style="padding-left: 13px">
                  <a href="assets/file/resume.pdf" id="a_resume" target="_blank">{{ 'a_resume' | translate }}</a>{{
                  'text_and' | translate }}<a href="assets/file/publication.pdf" id="a_pub" target="_blank">{{ 'a_pub' |
                    translate }}</a>
                </span>
              </div>
            </li>
            <li>
              <div style="padding-top: 6px;">
                <img class="imgsocial" alt="cv-icon" src="assets/i/gpg.png" />
                <span style="padding-left: 13px">
                  <a href="assets/file/gpg.pub" id="a_gpg">{{ 'a_gpg' | translate }}</a>
                </span>
              </div>
            </li>
            <li>
              <div style="padding-top: 6px;">
                <img class="imgsocial" alt="github-icon" src="assets/i/github-icon.png" />
                <span style="padding-left: 13px;">
                  <a href="https://github.com/hongkailiu" target="_blank">{{ 'btn_github' | translate }}</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div style="padding-top: 6px;">
        <h3>{{ 'h2_you_know' | translate }}</h3>
        <div id="d_place">
          <span id="s_mtl">{{ 's_mtl' | translate }}</span> 2014 &#8592;
          <span id="s_bj">{{ 's_bj' | translate }}</span> 2010 &#8592;
          <span id="s_dd">{{ 's_dd' | translate }}</span> 2002 &#8592;
          <span id="s_as">{{ 's_as' | translate }}</span>
        </div>
        <div class="row">
          <div class="col-md-8">
            <a target="_blank" href="assets/i/place-map.png">
              <img src="assets/i/place-map.png" style="width: 98%;padding: 6px;" />
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink><span class="badge badge-secondary">c</span> {{ 'a_contact' | translate }}</button>
    <ng-template ngbNavContent>
      <div style="padding-top: 6px;">
        <ul class="list-unstyled">
          <li><img class="padding: 3px; border: 0;" src="assets/i/gmail.png" alt="gmail" /></li>
          <li>
            <img class="imgsocial" alt="facebook-icon" src="assets/i/facebook-icon.png" />
            <button type="button" class="btn btn-link btn-xs" id="btn_linkedin"
              onclick="window.open('https://www.facebook.com/hongkailiu','_blank')">{{ 'btn_facebook' |
              translate }}</button>
          </li>
          <li>
            <img class="imgsocial" alt="linkedin-icon" src="assets/i/linkedin-icon.png" />
            <button type="button" class="btn btn-link btn-xs" id="btn_linkedin"
              onclick="window.open('https://www.linkedin.com/in/hongkailiu','_blank')">{{ 'btn_linkedin' |
              translate }}</button>
          </li>
          <!--
          <li>
            <img class="imgsocial" alt="wechat-icon" src="assets/i/wechat-icon.png" />
            <button type="button" class="btn btn-link btn-xs" id="btn_wechat"
              onclick="window.open('assets/i/wechat-hongkailiu.png')">{{ 'btn_wechat' | translate }}</button>
          </li>
          -->
        </ul>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>